@import './font/font.css';

@import 'basic/reset';

@import './basic/variables';

@import './basic/media_breackpoints';

.container{
    width: 320px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 540px;

    font-family: Monbold;
    margin: 0 auto;
    color: white;
    background-image: url(../images/320/Background.png);

    &-box{
        padding-top: 20px;
        text-align: center;
        
        h2{
            margin-top: 99px;
            margin-left: 24px;
            font-size: 20px;
        }
    }
    
    &-btn {
        color: white;
        background: none;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        font-family: MonRegular;
        font-size: 14px;
        
    }

    .sign{
        width: 90px;
        height: 36px;
        margin-left: 5px;
    }

    .log {
        border: none;

    }

    h1{
        font-size: 30px;
        text-align: center;
        margin-left: 22px;
        margin-top: 29px;
        line-height: 37px;
    }

    p{
        font-family: RobLight;
        font-size: 18px;
        line-height: 24px;
        margin-top: 5px;
        margin-left: 19px;
        text-align: center;
    }

    .find{
        width: 280px;
        height: 40px;
        background-color: #FF4E50;
        font-family: Monbold;
        font-size: 14px;
        margin-top: 17px;
        margin-left: 31px;
        border: none;
    }

}

.dreamshare{
    h2{
        font-family: Monbold;
        font-size: 22px;
        margin-top: 36px;
        text-align: center;
        margin-bottom: 18px;
    }

    &-step1{
        width: 300px;
        height: 240px;
        margin: 0 auto;
        border-radius: 4px;
        background-image: url(../images/320/Step\ 1\ image.png);
        .dreamshare-btn{
            width: 70px;
            height: 20px;
            background-color: #FF4E50;
            color: #FFFFFF;
            font-family: MonRegular;
            font-size: 10px;
            letter-spacing: 2px;
            border: none;
            border-radius: 40px;
            margin-left: 21px;
            margin-top: 65px;
        }
        h2{
            margin-top: 44px;
            margin-left: 20px;
            text-align: left;
            color: #FFFFFF;
            font-size: 24px;
            line-height: 14px;
        }
        p{
            font-family: RobLight;
            color: #E3E3E3;
            line-height: 14px;
            font-size: 14px;
            margin-top: 25px;
            margin-left: 20px;
            margin-right: 33px;
        }
    }

    &-step2{
        @extend .dreamshare-step1;
        margin-top: 10px;
        background-image: url(../images/320/Step\ 1\ image\ \(1\).png);
        background-repeat: no-repeat;
        .dreamshare-btn{
            margin-top: 96px;
            margin-left: 20px;
        }
        h2{
            margin-top: 28px;
        }

        p{
            font-family: RobLight;
            color: #E3E3E3;
            line-height: 14px;
            font-size: 14px;
            margin-top: 24px;
            margin-left: 20px;
            margin-right: 30px;
        }

    }

    &-step3{
        @extend .dreamshare-step1;
        margin-top: 10px;
        background-image: url(../images/320/Step\ 1\ image\ \(2\).png);
    }
}

.partner{
    width: 300px;
    margin: 0 auto;
    font-family: Monbold;
    text-align: center;
    h2{
        margin-top: 35px;
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        color: #444444;
    }

    &-tennis{

    h3{
        margin-top: 18px;
        font-size: 14px;
        line-height: 17px;
        color: #444444;
    }
    p{
        width: 236px;
        margin-top: 22px;
        margin-left: 32px;
        font-family: RobLight;
        font-size: 14px;
        color: #666666;
        margin-bottom: 16px;
    }
}
    &-chillout{
        @extend .partner-tennis;
        h3{
            margin-bottom: 27px;
        }
    }

    &-languages{
        @extend .partner-tennis;
    }

    &-fanatic{
        @extend .partner-tennis;
    }

    &-see{
        font-family: Monbold;
        font-size: 14px;
        width: 280px;
        height: 40px;
        border: 2px solid #FF4E50;
        background-color:  #FFFFFF;
        border-radius: 40px;
        color: #FF4E50;
        margin-top: 20px;
    }
}

.ideas{
    margin-top: 35px;
    text-align: center;
    font-family: Monbold;
    font-size: 22px;
    line-height: 27px;
    width: 300px;
    margin: 0 auto;
    &-title{
        margin: 35px 20px 33px 20px;
        line-height: 27px;
        color: #444444;
    }
    &-box{
        margin-bottom: 10px;
        color: #FFFFFF;
        width: 300px;
        height: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .sport{
        background-image: url(../images/320/Sport.png);
        h2{
            margin-top: -28px;
        }
    }

    .wellness{
        background-image: url(../images/320/Healath.png);
    }

    .extreme{
        background-image: url(../images/320/Extreme.png);
    }

    .games{
        background-image: url(../images/320/Games.png);
    }

    .culture{
        background-image: url(../images/320/Culture.png);
    }

    .enjomet{
        background-image: url(../images/320/Culture\ Copy.png);
    }

    .trevelling{
        background-image: url(../images/320/Games\ Copy.png);
    }
}

.crate{
    @extend .ideas;

    &-title{
        margin: 35px 20px 19px 20px;
        line-height: 27px;
        color: #444444;
    }
    &-text{
        font-family: RobLight;
        font-size: 18px;
        line-height: 14px;
        color: #666666;
        margin-bottom: 15px;
    }
    input{
        font-family: RobLight;
        font-size: 14px;
        line-height: 16px;
        width: 272px;
        height: 35px;
        background: #FFFFFF;
        border: 1px solid #D4D4D4;;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
        border-radius: 3px;
    }

    &-btn{
        width: 280px;
        height: 40px;
        background-color: #FF4E50;
        font-family: Monbold;
        font-size: 14px;
        margin-top: 11px;
        
        border: none;
        border-radius: 40px;
        color: #FFFFFF;
    }
}
    .hr{
        margin-top: 40px;
        width: 320px;
        height: 2px;
        background: #FF4E50;
            }

.footer{
    @extend .ideas;
    height: 226px;
    &-title{
        font-family: MonRegular;
        font-size: 16px;
        line-height: 20px;
        color: #FF4E50;
        margin-top: 19px;
    }

    &-company{
        color: #444444;
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
    }
    &-list{
        width: 200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        font-family: RobLight;
        color: #999999;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        justify-content: space-around;
    }

    &-partners{
        font-size: 14px;
        line-height: 17px;
        color: #444444;
        margin-top: 7px;
    }
    &-disign{
        h2{
         font-size: 10px;
        line-height: 12px;
        color: #CCCCCC;
        margin-top: 13px;          
        }
        .logo{
            margin-top: 5px;
        }
    }
}


@include tablet {
    .container {
            width: 768px;
    }

        .header {
            width: 100%;
            height: 700px;
            background-image: url(../images/768/Bitmap\ \(3\).png);
    
            &-box {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding-top: 0;
                text-align: center;
            
                h2 {
                    margin-top: 48px;
                    font-size: 20px;
                }
            
                &-btn {
                    margin-right: 50px;
                    margin-top: 41px;
                }
            }
    
   
            h1 {
                font-size: 52px;
                margin-top: 147px;
                line-height: 63px;
            }
    
            p {
                font-size: 24px;
                line-height: 24px;
                margin-top: 28px;
                br{
                    display: none;
                }
            }
    
            .find {
                width: 225px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 33px auto;
            }
    
        }

        .dreamshare{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            h2{
                width: 100%;
                font-family: Monbold;
                font-size: 22px;
                margin-top: 98px;
                text-align: center;
                margin-bottom: 38px;
            }
    
            &-step1{
                width: 236px;
                height: 400px;
                margin-top: -1px;
                background-image: url(../images/768/Step\ 1\ image.png);
                .dreamshare-btn{
                    margin-left: 20px;
                    margin-top: 205px;
                }
                h2{
                    margin-top: 46px;
                    margin-left: 19px;
                    text-align: left;
                    font-size: 24px;
                    line-height: 14px;
                }
                p{
                    margin-top: -8px;
                    margin-left: 21px;
                    margin-right: 25px;
                }
            }
    
            &-step2{
                margin-top: -3px;
                background-image: url(../images/768/Step\ 1\ image\ \(1\).png);
                .dreamshare-btn{
                    margin-top: 256px;
                    margin-left: 22px;
                }
                h2{
                    margin-top: 17px;
                    width: 150px;
                }
        
                p{
                    margin-top: -17px;
                    margin-left: 20px;
                    margin-right: 30px;
                }
        
            }
        
            &-step3{

                background-image: url(../images/1440/Step\ 1\ image\ \(2\).png);
            }
        }

        .partner{
        width: 492px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        h2{
            width: 100%;
            margin-top: 95px;
            margin-bottom: 34px;
            font-size: 22px;
            line-height: 26px;
        }
    
        &-tennis{
            width: 45%;
            margin-left: 7px;
  
        p{
            width: 250px;
            margin-left: -13px;
        }
    }
        &-chillout{
            margin-left: 35px;
            p{
                width: 240px;
                margin-left: -9px;
            }
        }
    
        &-languages{
            margin-top: 20px;
            p{
                width: 230px;
                margin-left: -3px;
            }
        }
    
        &-fanatic{
            margin-left: 35px;
            margin-top: 20px;
            p{
                width: 230px;
                margin-left: -2px;
            }
        }
    
        &-see{
            margin-top: 23px;
            width: 180px;
        }
    }

.ideas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 26px;
    line-height: 32px;
    width: 748px;
    margin: 0 auto;

    &-title {
        width: 100%;
        margin-top: 93px;
        margin-bottom: 37px;
        font-size: 22px;
    }

    &-box {
        width: 31.5%;
        height: 310px;
        font-size: 22px;
            line-height: 27px;
    }

    .sport {

        background-image: url(../images/768/Sport.png);

        h2 {
            margin-top: 0;

            br {
                display: none;
            }
        }
    }

    .wellness {

        background-image: url(../images/768/Healath.png);

        h2 {
            margin-top: 0;

            br {
                display: none;
            }
        }
    }

    .extreme {

        background-image: url(../images/768/Extreme.png);

    }

    .games {
        margin-top: 10px;
        background-image: url(../images/768/Games.png);

    }

    .culture {
        width: 492px;
        margin-top: 10px;
        background-image: url(../images/768/Culture.png);
    }

    .enjomet {
        width: 492px;
        margin-top: 10px;
        background-image: url(../images/768/Culture\ Copy.png);
    }

    .trevelling {
        margin-top: 10px;
        background-image: url(../images/768/Games\ Copy.png);
    }
}

        .crate {
            width: 482px;

            &-title {
                font-size: 22px;
                line-height: 27px;
                margin: 82px auto;
                line-height: 32px;
            }
    
            &-text {
                width: 100%;
                font-size: 18px;
                margin-top: -33px;
            }
    
            form {
                margin: 0 auto;
            }
    
            input {
                margin-left: -4px;
                width: 292px;
            }
    
            &-btn {
                width: 172px;
                margin-top: 6px;
                margin-left: 5px;
            }
        }
    
        .hr {
            margin-top: 95px;
            width: 100%;
        }
                .footer {
                    display: flex;
                    height: 224px;
        
                    &-title {
                        margin-top: 37px;
                        margin-left: 30px;
                    }
        
                    &-company {
                        margin-top: 40px;
                        margin-left: -96px;
        
                    }
        
                    &-list {
                        display: block;
                        text-align: start;
                        margin-left: 32px;
                        margin-top: 8px;
                    }
        
                    &-partners {
                        margin-top: 39px;
                        margin-left: -149px;
                    }
        
                    &-disign {
                        margin-right: 30px;
                        margin-top: 26px;
                        h2 {
                            font-size: 10px;
                            line-height: 12px;
                            color: #CCCCCC;
                            margin-right: -25px;                            
                        }
        
                        .logo {
                            margin-top: -4px;
                        }
                    }
                }

}


@include desktop {
    .container{
        width: 1440px;
        height: 700px;
        margin: 0 auto;
    }

    .header {
        width: 100%;
        height: 700px;
        background-image: url(../images/1440/Bitmap.png);
        text-align: center;
        color: rgb(255, 255, 255);
        &-box{
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
            padding-top: 0;
            text-align: center;
            h2{
                margin-top: 48px;
                margin-left: 248px;
                font-size: 20px;
            }
            &-btn{
                margin-left: 591px;
                margin-top: 41px;
            }
        }
        
        &-btn {
            color: rgb(255, 255, 255);
            background: none;
            border: 2px solid #FFFFFF;
            border-radius: 40px;
            font-family: MonRegular;
            font-size: 14px;
            
        }
    
        .sign{
            width: 90px;
            height: 36px;
            margin-left: 8px;
        }
    
        .log {
            border: none;
    
        }
    
        h1{
            font-size: 52px;
            text-align: center;
            margin-top: 147px;
            margin-left: 4px;
            line-height: 63px;
        }
    
        p{
            font-family: RobLight;
            font-size: 24px;
            line-height: 24px;
            margin-top: 28px;
            margin-left: 1px;
            text-align: center;
            color: #F7F3F2;
            
            br{
                display: none;
            }
        }
    
        .find{
            width: 225px;
            height: 40px;
            background-color: #FF4E50;
            font-family: Monbold;
            font-size: 14px;
            margin-top: 34px;
            border: none;
        }
    
    }

    .dreamshare{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        h2{
            width: 100%;
            font-family: Monbold;
            font-size: 26px;
            margin-top: 92px;
            text-align: center;
            margin-bottom: 18px;
        }
    
        &-step1{
            width: 300px;
            height: 400px;
            margin: 21px 10px;
            border-radius: 4px;
            background-image: url(../images/1440/Step\ 1\ image\ \(1\).png);
            .dreamshare-btn{
                margin-left: 25px;
                margin-top: 219px;
            }
            h2{
                margin-top: 21px;
                margin-left: 25px;
                text-align: left;
                font-size: 24px;
                line-height: 26px;
            }
            p{
                margin-top: 24px;
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    
        &-step2{
            @extend .dreamshare-step1;
            background-image: url(../images/1440/Step\ 1\ image.png);
            .dreamshare-btn{
                margin-top: 250px;
                margin-left: 25px;
            }
            h2{
                margin-top: 23px;
            }
    
            p{
                margin-top: 15px;
                margin-left: 25px;
                margin-right: 30px;
            }
    
        }
    
        &-step3{
            @extend .dreamshare-step1;
            background-image: url(../images/1440/Step\ 1\ image\ \(2\).png);
        }
    }
    
    .partner{
        width: 943px;
        display: flex;
        flex-wrap: wrap;
        h2{
            width: 100%;
            margin-top: 66px;
            margin-bottom: 36px;
            font-size: 26px;
            line-height: 32px;
        }
    
        &-tennis{
            width: 24%;
            order: 1;
            margin-left: -2px;
  
        p{
            width: 200px;
            margin-left: 15px;
            font-family: RobLight;
        }
    }
        &-chillout{
            @extend .partner-tennis;
            order: 3;
            margin-left: 15px;
            h3{
            margin-left: -2px;
            }
            p{
                width: 230px;
                margin-left: 2px;
            }
        }
    
        &-languages{
            @extend .partner-tennis;
            margin-left: 15px;
            order: 2;
            p{
                width: 230px;
                margin-left: -1px;
            }
        }
    
        &-fanatic{
            @extend .partner-tennis;
            order: 4;
            margin-left: 9.72px;
            p{
                width: 210px;
                margin-top: 28px;
                margin-left: 12px;
            }
        }
    
        &-see{
            order: 5;

            font-family: Monbold;
            font-size: 14px;
            width: 180px;
            height: 40px;
            margin-top: 19px;

        }
    }
    
    .ideas{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 26px;
        line-height: 32px;
        width: 940px;
        margin: 0 auto;
        &-title{
            width: 100%;
            margin-top: 91px;
            margin-bottom: 39px;
        }
        &-box{
            font-size: 22px;
            line-height: 27px;
            height: 310px;
        }
    
        .sport{
            background-image: url(../images/1440/Sport.png);
            h2{
                margin-top: 0;
                br{
                    display: none;
                }
            }
        }
    
        .wellness{
           
            background-image: url(../images/1440/Healath.png);
            h2{
                margin-top: 0;
                br{
                    display: none;
                }
            }
        }
    
        .extreme{
            
            background-image: url(../images/1440/Extreme.png);

        }
    
        .games{
            margin-top: 10px;
            background-image: url(../images/1440/Games.png);

        }
    
        .culture{
            width: 620px;
            margin-top: 10px;
            background-image: url(../images/1440/Culture.png);
        }
    
        .enjomet{
            width: 620px;
            margin-top: 10px;
            background-image: url(../images/1440/Culture\ Copy.png);
        }
    
        .trevelling{
            margin-top: 10px;
            background-image: url(../images/1440/Games\ Copy.png);
        }
    }
    
    .crate{
        width: 940px;

    
        &-title{
            margin-top: 79px;
            margin-left:  292px;
            line-height: 32px;
        }
        &-text{
            width: 100%;
            font-size: 18px;
            line-height: 14px;
            margin-top: 32px;
        }
        form{
            margin: 0 auto;
        }
        input{ 

            width: 292px;

        }
    
        &-btn{
            width: 172px;
        }
    }
        .hr{
            margin-top: 100px;
            width: 100%;
        }
    
    .footer{
        display: flex;
        height: 224px;
        &-title{
            margin-top: 37px;
        }

        &-company{
            margin-top: 40px;
            margin-left: -207px;

        }
        &-list{
            display: block;
            text-align: start;
            margin-left: -72px;
            margin-top: 10px;
        }
    
        &-partners{
            margin-top: 39px;
            margin-left: -252px;
        }
        &-disign{
            h2{
             font-size: 10px;
            line-height: 12px;
            color: #CCCCCC;
            margin-top: 36px;          
            }
            .logo{
                margin-top: 5px;
            }
        }
    }
}

